@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
	margin: 0;
	padding: 1px;
	box-sizing: border-box;
}

:root {
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--desaturated-dark-blue: hsl(214, 17%, 51%);
	--grayish-blue: hsl(212, 23%, 69%);
	--light-grayish-blue: hsl(210, 46%, 95%);
}

html,
body {
	font-size: 13px;
	font-family: 'Manrope', sans-serif;
	background-color: var(--light-grayish-blue);
}

img {
	display: block;
}

.article {
	box-shadow: 0 40px 40px hsla(210, 11%, 88%, 1);
}

.article__excerpt {
	background-color: white;
}

.article__title {
	color: var(--very-dark-grayish-blue);
}

.article__text {
	color: var(--desaturated-dark-blue);
}

.meta {
	background-color: white;;
}

.meta__avatar {
	width: 15%;
}

.meta__avatar img {
	width: 100%;
	border-radius: 100%;
}

.meta__info {
	widtH: 50%;
}

.meta__author {
	font-weight: 700;
	color: var(--very-dark-grayish-blue);
}

.meta__date {
	color: var(--grayish-blue);
}

.meta__actions {
	width: 15%;
}

.share {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--very-dark-grayish-blue);
}

.share--hidden {
	display: none;
}

.share__text {
	color: var(--grayish-blue);
	text-transform: uppercase;
}

.share__icons a {
	color: white;
	font-size: 2rem;
	text-decoration: none;
}

.button {
	display: block;
	padding: 10px;
	border-radius: 50%;
	border: none;
	background-color: var(--light-grayish-blue);
	color: var(--desaturated-dark-blue);
}

.button--close {
	display: block;
	padding: 10px;
	border-radius: 50%;
	border: none;
	background-color: var(--desaturated-dark-blue);
	color: var(--light-grayish-blue);
}


/* Phone */
@media (min-width: 375px) {

	.article {
		width: 100%;
		max-width: 325px;
		margin: 50px auto;
		border-radius: 2rem;
		overflow: hidden;
	}

	.article__thumbnail {
		height: 200px;
		overflow: hidden;
	}

	.article__thumbnail img {
		width: 100%;
	}

	.article__excerpt {
		padding: 25px;
	}

	.article__title {
		margin: 1rem 0;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.article__text {
		margin: 1rem 0;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.meta {
		display: flex;
		justify-content: space-between;	
	}

	.meta {
		padding: 10px 0;
	}

	.meta--hidden {
		display: none;
	}

	.share {
		padding: 10px 25px;
	}

	.share__text {
		width: 25%;
	}
}

/* Desktop */
@media (min-width: 1440px) {

	.article {
		position: relative;
		display: flex;
		max-width: 730px;
		overflow: visible;
	}

	.article__thumbnail {
		width: 40%;
		height: auto;
		border-radius: 2rem 0 0 2rem;
	}

	.article__thumbnail img {
		width: 130%;
	}

	.article__excerpt {
		width: 60%;
		border-radius: 0 2rem 2rem 0;
		overflow: hidden;
	}

	.article__title {
		font-size: 1.5rem;
		line-height: 2rem;
		margin-top: 0;
	}

	.meta {
		padding-bottom: 0;
	}
	
	.meta--hidden {
		display: flex;
		justify-content: space-between;
	}

	.share {
		position: absolute;
		width: 225px;
		border-radius: 1rem;
		right: -10%;
		bottom: 40%;
	}

	.share::after {
		content: '';
		position: absolute;
		bottom: -35px;
		left: 50%;
		transform: translateX(-100%);
		border-width: 20px;
		border-style: solid;
		border-color: transparent;
		border-top-color: var(--very-dark-grayish-blue);
	}

	.share__text {
		width: 20%;
	}

	.share__icons {
		width: 60%;
	}

	.share__close {
		display: none;
	}
}